@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html,body{
    scroll-behavior: smooth;
    width: 100%;
}

*{
    font-family: 'Roboto', sans-serif;
}

.nav-item{
    padding: 0 20px;
    
}


.navbar-bit .nav-link{
    color: #FFF !important;
}

.navbar-bit .nav-link:hover{
    color: #00ffc5 !important;
}

.bg-bit{
    background-color: #1b1464;
}

.img-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20vmin;
    cursor: pointer;
    min-width: 150px;
}


.btn-group-vertical{
    width: 30vmin;
    min-width: 150px;
}


.iwt{
    display: block;
}

.iwt > .fa{
    color: #00ffc5 !important;
}


footer{
    width: 100%;
    background-color: black;
    padding: 3% 3% 3% 3%;
    color: #FFF;
}

#inicio{
    background: url(../Resources/Fondo1.png) no-repeat center center fixed;
    background-size: cover;
}

#inicio p{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 18vw;
    margin-right: 18vw;
}

footer a{
    color:#00ffc5;
}
